@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova/proxima-nova-light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova/proxima-nova-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova/proxima-nova-bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova/proxima-nova-extrabold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova/proxima-nova-black.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}