@import '_fonts';
@import '_base';

.wrapper {
  overflow: hidden;
}

.services {
  background: #233148;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    left: calc(50% - .5px);
    transform: translateX(-50%);
    border-right: 1px solid #D9DFE6;
    opacity: .2;
  }

  .container {
    height: 100%;
    position: relative;
    padding-top: 133px;
    padding-bottom: 294px;

    &:before, &:after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.2;
    }

    &:before {
      left: 30px;
      border-right: 1px solid #D9DFE6;
    }

    &:after {
      right: 30px;
      border-left: 1px solid #D9DFE6;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -98px;
    padding: 0 45px 0 100px;
  }

  &-item {
    width: calc(50% - 73.5px);
    margin-bottom: 98px;
  }

  &-icon {
    display: flex;
    align-items: center;
    height: 54px;
    margin-bottom: 27px;
  }

  &-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.64px;
  }

  &-text {
    font-weight: 300;
    color: #8796AE;
  }

  &-bg-icon {
    max-width: none;
    max-height: none;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.search-product {
  height: 964px;
  background: #EAEFF5;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    left: calc(50% - .5px);
    transform: translateX(-50%);
    border-right: 1px solid #12336A;
    opacity: .2;
  }

  .container {
    height: 100%;
    padding-top: 369px;
    position: relative;

    &:before, &:after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.2;
    }

    &:before {
      left: 30px;
      border-right: 1px solid #12336A;
    }

    &:after {
      right: 30px;
      border-left: 1px solid #12336A;
    }
  }

  .section-title {
    padding-top: 50px;
    color: #233148;
    .last-word {
      margin-left: 11px;
    }
  }
}

.our-lightpaper {
  display: flex;
  height: 310px;
  position: absolute;
  z-index: 1;
  top: -108px;
  left: 30px;
  width: calc(100% - 60px);
  background: #1F65D9;

  &:before {
    content: '';
    position: absolute;
    right: 100%;
    height: 100%;
    width: 100vw;
    background: #1F65D9;
  }

  .broshure {
    position: absolute;
    top: -73px;
    right: -17px;
    max-width: none;
    max-height: none;
  }

  &:after {
    /*content: '';
    position: absolute;
    top: -73px;
    right: -17px;
    width: 677px;
    height: 601px;
    background: url('../images/broshure.png') no-repeat;
    background-size: contain;*/
  }

  &-title {
    padding-top: 71px;
    font-weight: 800;
    font-size: 31.997px;
    line-height: 39px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  &-text {
    max-width: 217px;
    margin-left: 95px;
    padding-top: 115px;
    font-size: 23.9977px;
    line-height: 34px;
    letter-spacing: 0.48px;
  }

  .doc-icon {
    position: absolute;
    bottom: -47px;
  }

  .btn-download {
    position: absolute;
    left: 94px;
    bottom: -37px;
    width: 391px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.457143px;
    font-weight: bold;
    color: #233148;
    background: #FCCF18;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      width: 50%;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      transform: skewX(-25deg);
    }

    &:hover:after {
      animation: shine .75s;
    }
  }
}

@media (max-width: 1199px) {
  .services {
    &-list {
      padding: 0;
    }

    &-item {
      width: calc(50% - 40px);
      margin-bottom: 98px;
    }
  }
  .our-lightpaper {
    .broshure {
      width: 464px;
      height: 412px;
      top: -41px;
    }
  }
  .our-lightpaper {
    .broshure {
      right: -168px;
    }
  }
}

@media (min-width: 768px) {
  .text-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .text-desktop {
    display: none;
  }
  .services {
    .container {
      padding-top: 91px;
      padding-bottom: 81px;
      &:after {
        right: 28px;
      }
    }

    &-list {
      margin-bottom: -50px;
    }

    &-item {
      width: 100%;
      margin-bottom: 50px;
    }

    &-icon {
      width: 36px;
      height: 36px;
      margin-bottom: 31px;
    }

    &-title {
      margin-bottom: 35px;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.44px;
    }
    &-bg-icon {
      top: 143px;
    }
  }
  .search-product {
    height: 1134px;
    &:before {
      left: calc(50% - 6px);
    }
    .section-title {
      margin-top: 92px;
      padding-top: 46px;
    }
    .container {
      padding-top: 0;
      &:after {
        right: 28px;
      }
    }
    .our-lightpaper {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      top: 0;
      left: -30px;
      width: calc(100% + 60px);
      height: auto;
      padding: 195px 30px 65px;
      &:before {
        display: none;
      }
      &-title {
        padding-top: 0;
        font-size: 22px;
        line-height: 27px;
      }
      &-text {
        max-width: 190px;
        margin-top: 48px;
        margin-left: 0;
        padding-top: 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
      }
      .doc-icon {
        width: 197px;
        height: 229px;
        left: 0;
        bottom: -19px;
      }
      .btn-download {
        width: 280px;
        height: 54px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -27px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0;
      }
    }
  }
}